<h1><%= @topic.name %></h1>
    <% @bookmarks.each do |bookmark| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to bookmark.title, [@topic, @bookmark] %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
      <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %>
      <%= link_to 'Back', topic_path %>
  </div>
</div>