<br>


<div>if bookmark something --Delete Blocmark
</div>

<div>
 elsif something --Unlike Blocmark
 </div>
 <div>
 else ---Like Blocmark
</div>
<br>
<div>
<%= link_to 'Back', bookmarks_path %>
</div>