<br>

<div>
  if bookmark for current user exist  --Delete Blocmark

</div>

<div>
  elsif something --Unlike Blocmark

 </div>
 <div>
 else ---Like Blocmark
 <span class="up-arrow"></span>

</div>
<br>
<div>
<%= link_to 'Back', bookmarks_path %>
</div>