<% if current_user %>
  <h2>All Current Bookmarks</h2>
  <table style="width: 80%">
    <thead>
      <tr>
        <th>Bookmarks</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td><%= link_to bookmark.title %></td>
          
          <td>
            <small>
              Created by <%= bookmark.user.name %>
             </small>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
 
<% else %>
  <div class="panel">
    <h1>Blocmarks!</h1>
    <p>Social Bookmarking with Email Integration</p>
    <%= link_to "Begin", new_user_registration_path, :class => "button button-large" %>
  </div>
 
 
  <div class="row">
    <div class="large-8 columns">
      <h3>Happy Tuesday!</h3>
      <p>
      It's almost tuesday!
      </p>
    </div>
    <div class="large-4 columns">
      <h3>About this app</h3>
      Created by Chéri</p>
    </div>
  </div>
<% end %>